.g-breadcrumb
  ul.g-breadcrumb__list
    li.g-breadcrumb__list-item
      a.g-breadcrumb__list-link(href="#") Главная
    li.g-breadcrumb__list-item
      a.g-breadcrumb__list-link(href="#") Каталог
    li.g-breadcrumb__list-item
      a.g-breadcrumb__list-link(href="#") Холодильники
